:80 {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy testapp:80
    }
    handle {
        root * /usr/share/caddy
        file_server
        try_files {path} /index.html
    }
}
